
.product-images{
  margin-bottom: 100px;
  li {
    list-style: none;
    display: inline-block;
    img {
      width: 100px;
      height: 100px;
    }
  }
}

.product-info{
  float: right;
  hr{
    border: 1px solid black;
  }
  .title{
    h2, span{
      display: inline-block;
    }
    span {
      color: grey;
      margin-left: 10px;
    }
  }
  .add-to-cart{
    margin-bottom: 20px;
    input {
    width: 50px;
    }
    button{
    margin-left: 15px;  
    }
  }
}
